header {
    height: 80px;
    background-color: #29282D;
    width: 100%;
    vertical-align: baseline;
    -webkit-box-shadow: 0px 3px 21px -1px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 3px 21px -1px rgba(0,0,0,0.49);
    box-shadow: 0px 3px 21px -1px rgba(0,0,0,0.49);

    h1 {
        line-height: 80px;
        display: inline-block;


        a {
            text-decoration: none;
            color: white;
            font-family: "Satisfy";
            font-weight: normal;
            font-size: 1.5em;
            position: relative;

        }

        a:hover {
                color: #D9192E;

            }

    }

    nav {

        vertical-align: baseline;
        display: inline-block;
        float: right;

            #user_image {
                height: 80px;
                // border-radius: 50%;
                // margin-top: -100px;
                display: inline-block;
                cursor: pointer;
                border-left: 12px solid #D9192E;
                border-right: 12px solid #D9192E;

            }

            .user_image_badge {
                background-color: rgba(0,0,0,0.4);
                -webkit-clip-path: polygon(100% 0%, 100% 48%, 100% 100%, 50% 20%, 0 100%, 0 0);
                clip-path: polygon(100% 0%, 100% 48%, 100% 100%, 50% 20%, 0 100%, 0 0);
                width: 104px;
                height: 85px;
                border-left: 12px solid #D9192E;
                border-right: 12px solid #D9192E;
                margin-top: -5px;
                z-index: 0;
            }

            #user_menu {
                float: right;

            }

            #user_welcome {
                display: inline-block;
                position: absolute;
                line-height: 80px;
                font-size: 1.3em;
                margin-left: -220px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.8);
                font-weight: 300;
            }

            ul {

                position: absolute;
                display: block;
                margin-top: 80px;
                margin-left: -340px;

                li {
                    padding: 15px 10px 15px 10px;
                    display: inline-block;

                    a {
                        text-decoration: none;
                        color: #29282D;
                        font-size: 1.2em;
                    }

                    a:hover {
                            border-bottom: 5px solid #D9192E;
                            color: gray;
                    }

                }
            }

        }


    }

.hidden {
    display: none;
}
